<html>

    <head>
        <title>
            JobMatch.er | Login
        </title>
        <script src="/scripts/scroll.js" type="javascript"></script>
    </head>

    <body onload="addParallaxScroll();">
        <div class="view fullcenterinner">
            <div class="jobmatcher-background">
                <div class="parallax" id="one"></div>
                <div class="parallax" id="two"></div>
                <div class="parallax" id="three"></div>
                <div class="parallax" id="four"></div>
                <div class="parallax" id="five"></div>
            </div>
            <div class="loginform center">
                <form action="/auth/login" method="post">
                    <div class="accentbarTitle"></div>
                    <h1 class="logintitle">Login</h1>
                    <div class="custominput">
                        <input type="text" name="email" placeholder="E-Mail Adresse"/>
                        <div class="accentbar"></div>
                    </div>
                    <br>
                    <div class="custominput">
                        <input type="password" name="password" placeholder="Passwort"/>
                        <div class="accentbar"></div>
                    </div>

                    <table class="buttontable">
                        <tr>
                            <td>
                                <button type="submit" class="button noselect">
                                    Anmelden
                                </button>
                            </td>
                            <td class="middlerow">
                            </td>
                            <td>
                                <div class="button disabled noselect">
                                   <a style="text-decoration: inherit; color: inherit;" href="/auth/register"> Registrieren </a> 
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>

</html>