<html>

<head>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">jobmatch.er</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">matching</a></li>
                <li><a href="badges.html">profile</a></li>
                <li><a href="collapsible.html">logout</a></li>
            </ul>
        </div>
    </nav>
</head>

<body>
    <div class="view fullcenterinner">
        <div class="jobmatcher-background">
            <div class="parallax" id="one"></div>
            <div class="parallax" id="two"></div>
            <div class="parallax" id="three"></div>
            <div class="parallax" id="four"></div>
            <div class="parallax" id="five"></div>
        </div>
        <div class="hoverxd">
        <div class="grid-container">
            <div class="usercard"> </div>
            <div class="employercard">g </div>
        </div>
        </div>
    </div>
</body>

</html>