@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$accent: rgb(255, 120, 43);
$white: #fff;
$font-dark: #707070;
$font-middle: #9B9B9B;
$font-light: #9D9D9D;
$font-lighter: #ADADAD;
$button-disabled: #CECECE;

@import "scss/mixins.scss";
@import "scss/enviorment.scss";
@import "scss/attributes.scss";
@import "scss/login.scss";
@import "scss/media.scss";
@import "scss/landing.scss";
@import "scss/matching.scss";
@import "scss/signup.scss";