.center 
{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.fullcenterinner
{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hide
{
    display: none;
}

.view
{
    margin: 0;
}

.noselect 
{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.accentSpan
{
    color: $accent;
}
