html
{
    font-family: 'Open Sans', sans-serif;
}

body
{
    background-color: $white;

    padding: 0;
    margin: 0;
}

.jobmatcher-background
{
    > .parallax
    {
        background-color: $accent;

        border-radius: 3rem;

        @include shadow();
    }

    > #one
    {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 10;
        grid-row-end: 10;

        //transform: translateZ(-1px) scale(2);

        z-index: -5;
    }

    > #two
    {
        grid-column-start: 9;
        grid-row-start: 9;
        grid-column-end: 17;
        grid-row-end: 22;

        background-color: lighten($accent, 8);

        //transform: translateZ(-2px) scale(3);

        z-index: -6;
    }
    
    > #three
    {
        grid-column-start: 16;
        grid-row-start: 2;
        grid-column-end: 24;
        grid-row-end: 12;

        background-color: lighten($accent, 1.5);

        //transform: translateZ(-2px) scale(3);

        z-index: -5;
    }

    > #four
    {
        grid-column-start: 18;
        grid-row-start: 10;
        grid-column-end: 28;
        grid-row-end: 17;

        background-color: lighten($accent, 1.25);

        //transform: translateZ(-2px) scale(3);

        z-index: -4;
    }

    > #five
    {
        grid-column-start: 22;
        grid-row-start: 1;
        grid-column-end: 30;
        grid-row-end: 5;

        background-color: lighten($accent, 3);

        //transform: translateZ(-2px) scale(3);

        z-index: -4;
    }

    perspective: 1px;

    //position: absolute;

    height: 100vh;
    width: 100vw;

    position: relative;
    transform-style: preserve-3d;

    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;

    z-index: -10;

    display: grid;
    display: inline-grid;

    grid-template-columns: repeat(30, 4vw);
    grid-template-rows: repeat(20, 4vw);
}