.usercard
{
    background-color: $white;

    border-radius: 30px;

    @include shadow();

    z-index: 30;

    overflow: scroll;

    overflow: hidden;

    grid-column-start: 3;
    grid-row-start: 4;
    grid-column-end: 11;
    grid-row-end: 18;

    padding: 2rem;

    font-family: 'Product Sans', sans-serif !important;

    color: $font-middle;
}

.grid-container 
{
    display: grid;
    display: inline-grid;

    position: fixed;

    grid-template-columns: repeat(30, 4vw);
    grid-template-rows: repeat(20, 4vw);

    height: 100vh;
    width: 100vw;

    top: 0;
    left: 0;

    background-color: transparent !important;

    z-index: 20;
}

.employercard
{
    background-color: $white;

    border-radius: 30px;

    @include shadow();

    z-index: 30;

    overflow: scroll;

    padding: 2rem;
    padding-top: -1vh;

    font-family: 'Product Sans', sans-serif !important;

    color: $font-middle;

    line-height: -.1vh !important;
}

.matchingtitle
{
    margin-left: 0vw;

    margin-top: -0vh;

    margin-bottom: -1.6vh;
}

.accentbarTitleMatching
{
    margin-left: -.1vw;

    margin-top: -.4vh;
}

.companycontact
{
    overflow: scroll;
}

.employercards
{
    overflow-y: scroll;

    grid-column-start: 16;
    grid-row-start: 4;
    grid-column-end: 24;
    grid-row-end: 18;
}