
@media (min-width: 1000px)
{
    .loginform
    {
        width: 40vw;
    }

    .custominput 
    {
        > .accentbar
        {
            width: 30.75vw;
        }

        > input
        {
            width: 28vw;
        }

        width: 28vw;
    }

    .buttontable 
    {
        width: 27.1vw;
    } 
    
    .button
    {
        width: 13vw;
    }

    .accentbarTitle
    {
        width: 2vw;
    }

    .signupform
    {
        width: 40vw !important;
    }
}

@media (min-width: 1200px)
{
    .accentbar
    {
        width: 27vw;
    }
}

@media (min-width: 1400px)
{
    .signupform
    {
        width: 35vw !important;
    }

    .custominput 
    {
        > .accentbar
        {
            width: 25.17vw;
        }

        > input
        {
            width: 23vw;
        }

        width: 23vw;
    }
}


@media (max-width: 900px)
{
    .usercard
    {
        grid-column-start: 3;
        grid-row-start: 4;
        grid-column-end: 11;
        grid-row-end: 22;
    }
}