.signupform
{
    margin-right: 20vw;

    height: 70vh;

    width: 60vw;

    padding: auto;
    padding-left: 1.6vw;

    background-color: $white;

    border-radius: 30px;

    @include shadow();

    z-index: 10;

    overflow: scroll;

    position: fixed;
}

#signupbtn
{
    margin-left: 29.72vw;
    margin-bottom: 5vw;
    margin-top: 1vw;

    width: 24vw;
}

#jobdropdown
{
    margin-top: 1vw;
    margin-left: 4vw;
}
.jobdropdownp{
    margin-top: 60vh !important; 
}

#employeroryeedropdown
{
    > .select-items 
    {
        margin-top: -2vh !important;
        margin-left: 1.2vw;

        margin-bottom: 2vh;

        position: relative;

        @include shadow();

        border-radius: 0 0 1rem 1rem;

        transition: all ease .3s;
    }

    margin-bottom: 2vh;
    margin-left: 4vw;

    margin-top: 2vh;

    width: 20vw;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }