.signupform
{
    margin-right: 20vw;

    height: 50vh;

    width: 60vw;

    padding: auto;
    padding-left: 1.6vw;

    background-color: $white;

    border-radius: 30px;

    @include shadow();

    z-index: 10;

    overflow: scroll;

    position: fixed;
}

#signupbtn
{
    margin-left: 33.7vw;
    margin-bottom: 5vw;
    margin-top: 1vw;
}